body{
background-color: coral;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
h1 {
    color: fuchsia;
}
p {
    color: bisque;
    text-decoration: underline;
}

.cat-img { 
    display: flex;
    border-radius: 30px;
}